@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garet-Book";
  src: url("/fonts/Garet-Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garet-Heavy";
  src: url("/fonts/Garet-Heavy.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --background: #f9fafb;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Garet-Book", sans-serif;
  margin: 0;
}

.font-600 {
  font-family: "Garet-Heavy", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .width-screen {
    @apply lg:max-w-[1280px] mx-auto
  }

  .flex-center-row {
    @apply flex justify-center items-center
  }

  .flex-center-col {
    @apply flex flex-col justify-center items-center
  }

  .flex-between {
    @apply flex justify-between items-center
  }
}
